* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.main {
    display: grid;
    margin: 10px 50px;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    background-color: aquamarine;
    padding: 0 20px;
    border-radius: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 500px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
}

ul {
    list-style: none;
}
li {
    display: inline;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
}

img {
    border-radius: 50%;
}

input {
    margin: 5px 0;
    height: 45px;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    border-radius: 8px;
    border: 0;
    height: 50px;
    margin-top: 10px;
    background-color: aqua;
}